.spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    width: 10px;
    height: 10px;
}
.loading-spinner {
    position: absolute;
    top: 93%;
    left: 26%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#global .idea_loader{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    width: 100%;
    height: 100%;
}

#global .idea_loader img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* width: 20px; */
        /* height: 20px; */
}

div.flex-1.overflow-hidden > div > div > div.px-2.relative.w-full.flex.flex-col.h-full.py-2 > div > div {
    z-index: 5;
}

.grow {
  display: none;
}